src/main/mule/fetch-record34.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="fetch-record3Flow" doc:id="84b1aba1-7792-4cbd-af73-cd3ad9817f22" >
		<http:listener doc:name="Listener" doc:id="3fc70976-e1f9-479f-b9eb-7c34f9609047" config-ref="HTTP_Listener_config" path="get-employee" allowedMethods="GET">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a7d17f5b-c70d-4b6c-9246-b26ffc7aa9ba" message="start flow"/>
		<db:select doc:name="get" doc:id="29f04e56-3f89-419f-9f3d-6ceccd8f2154" config-ref="Database_Config">
			<db:sql ><![CDATA[select emp_id, emp_name, emp_status from emp where emp_id=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.queryParams.employeeID
	
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="4694cb85-ff49-45db-9be1-87d910f3fd09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	
	employeeID: payload[0].emp_id,
	employeeName: payload[0].emp_name,
	employeeStatus: payload[0].emp_status
}



]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
